/*******  globale variablen ****/


/**** Layout grid**/
.w100 {width: 100vw;}
.h50 {height: 50vh;}
.w50{width: 50vw;}
.bkgrcolor1 {background-color: darkslategrey;}
.bkgrcolor2 {background-color: grey;}
.bkgrcolor3 {background-color:lightpink;}
.bkgrcolor4 {background-color: lightsteelblue;}

.flex_c {display: flex;}

/******Layout basic***/

h1 {
    font-size: 4vw;
}

.mother {
    background-color: antiquewhite;
    max-height: 50rem;
    position: relative;
}

@keyframes movingbox {
    0% { top: 0; }
    100% { top: 100%; }

}

.movingbox {
    
    position: absolute;
    top: 0;
    left: 50%;
}

.movingbox:hover {
    animation-name: movingbox;
    animation-duration: 5s;
}